/* custom styles */
@font-face {
    font-family: myFirstFont;
    src: url(../fonts/sweetly_broken/SweetlyBroken.ttf);
}
h1 {
font-family: myFirstFont;
font-size: 500%;
text-align: center;
}
@font-face {
    font-family: myMainFont;
    src: url(../fonts/giorgio/Giorgio.ttf);
}
h2, h3, h4, h5, h6, p, li {
font-family: myMainFont;
text-align: center;

}
div.navbar.lrg{
	background-color: rgba(204, 255, 255, .7);
	width:100%;
	min-height: 100px;
}
body{
	width:100%;
}
#body_wrap div.row.toprow{
	margin-top: 13%;
	padding: 15px;
}

#home_body {
	background-image: url("../images/digirep_background.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: rgba(204, 255, 255, .9);
}
#footer_wrap {
	background-color: rgba(204, 255, 255, .6);
}
/*div.about_me2 div.imglink{
	padding: 0px;
}
div.about_me2 div.imglink a img {
	outline-width: thick;
	outline-color: black;
	outline-style: solid;
}*/
div.toprow span {
	background-color: rgba(255, 153, 153, .6);
	padding: 15px;
}
div.row div.personalStatement {
	background-color: rgba(255, 153, 153, .6);
	margin-top:2%;
	margin-bottom:5%;
}
.pagination>li>a, .pagination>li>span {
  padding: 30px 5px;
  color: black;
  min-height: 100px;
  min-width: 80px;
  text-align: center;
  border: none;

}
 .pagination>li.arrow>a, .pagination>li.arrow>a>span {
min-width:15px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;
}
.pagination>.disabled>a {
	/*color: #777;*/
  background-color: transparent;
  border-color: transparent;
/*  cursor: not-allowed;*/
}
.pagination>.active>a{

	background-color: rgba(77, 77, 77, .5);
  border-color: rgba(77, 77, 77, .9);
}
.pagination>.active>a:hover, 
.pagination>.active>span:hover, .pagination>.active>a:focus, 
.pagination>.active>span:focus {
	background-color: rgba(204, 255, 255, .5);
  border-color: rgba(204, 255, 255, .5);
}

.pagination>li.arrow.A2>a:hover, 
.pagination>li.arrow.A2>span:hover, 
.pagination>li.arrow.A2>a:focus, 
.pagination>li.arrow.A2>span:focus {
	background-color: rgba(204, 255, 255, .5);
  color: #999999
} 
.pagination>li.arrow.A1>a:hover, 
.pagination>li.arrow.A1>span:hover, 
.pagination>li.arrow.A1>a:focus, 
.pagination>li.arrow.A1>span:focus {
	background-color: rgba(0,51,102,.8);
	color: white;
}
.pagination>li.home>a:hover, 
.pagination>li.home>span:hover, 
.pagination>li.home>a:focus, 
.pagination>li.home>span:focus {
	background-color: rgba(0,51,102,.6);
	color: white;
}
.pagination>li.background>a:hover, 
.pagination>li.background>span:hover, 
.pagination>li.background>a:focus, 
.pagination>li.background>span:focus {
	background-color: rgba(0,102,153,.5);
	color: white;
	}
.pagination>li.eventplan>a:hover, 
.pagination>li.eventplan>span:hover, 
.pagination>li.eventplan>a:focus, 
.pagination>li.eventplan>span:focus {
	background-color: rgba(51,204,204,.6);
	color: white;
}
.pagination>li.artTech>a:hover, 
.pagination>li.artTech>span:hover, 
.pagination>li.artTech>a:focus, 
.pagination>li.artTech>span:focus {
	background-color: rgba(0,255,255,.6);
	color: white;
}
.pagination>li.contact>a:hover, 
.pagination>li.contact>span:hover, 
.pagination>li.contact>a:focus, 
.pagination>li.contact>span:focus {
	background-color: rgba(102,255,255,.6);
	color: white;
}

.pagination>li.arrow.A1>a{
	background-color: rgba(255, 204, 204, .3);
}
.pagination>li.home>a{
	background-color: rgba(255, 204, 204, .6);
	}
.pagination>li.background>a{
	background-color: rgba(255, 153, 153, .6);
}
.pagination>li.eventplan>a{
	background-color: rgba(255, 102, 102, .6);
}
.pagination>li.artTech>a{
	background-color: rgba(204, 0, 0, .6);
}
.pagination>li.contact>a{
	background-color: rgba(153, 51, 51, .6);
}
.pagination>li.arrow.A2>a{
	background-color: rgba(153, 0, 51, .6);
}

body{
	/*background-image: url();*/
	width: 100%;
	margin: 0%;
	padding: 0%;
}
#body_wrap div h2{
	text-align: center;
	padding-top: 0px;
	padding-bottom: 4px;
}
div.imglink {
	padding:2%;
}
/*div.imglink a img.overlay{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
	position: absolute;
}*/

#body_wrap div div.digi img{
	margin-top: 0px;
	margin-right: auto;
  margin-left: auto;
}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
  margin-right: auto;
  margin-left: auto;
}
#body_wrap button.imgbtn {
margin: 0%;
border: .5px;
padding: 0px;
}
#body_wrap button.imgbtn img {
	padding: 0px;
	margin: 0px;
	border: none;
}

.carousel-control.right, .carousel-control.left{
	background-image: none;
}

div.event {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0%;

}
div.row div.imglink{
	margin:0%;
}
#body_wrap > div.row > div.imglink a:hover > img.underlay{
	opacity: 0.6;
}

@media only screen and (min-width: 480px) {
	#body_wrap div.row div.imglink h3 {
	position: absolute;
	top:30%;
	bottom: 60%;
	right:10%;
	left:10%;
	background-color: rgba(77, 77, 77, .7);
	color:white;
	display: block;
	padding:25%;
	margin-left:10%;
	margin-right:10%;
	z-index: -1;
	text-align: left;
}
	}
#tabs > li> a{
padding: 5px;
}

#tabs > li > a > img {
	max-width: 150px;
	padding: 0px;
	margin: 0px;
}
#body_wrap > div > a > img{
	margin: 0px;
	display: inline-block;
	max-width: 100px;
}

#body_wrap > div{
	margin: 0px;
	padding: 0px;

}




/*#footer_wrap {
	position: absolute;
	bottom:0%;
}*/
/*#body_wrap button.imgbtn img div.dp{
	width:33.3%;

}*/

@media only screen and (max-width: 480px) {
	#body_wrap div.row div.imglink h3 {
	position: absolute;
	top:30%;
	bottom: 70%;
	right:10%;
	left:10%;
	background-color: rgba(77, 77, 77, .7);
	color:white;
	display: block;
	padding:25%;
	margin-left:10%;
	margin-right:10%;
	z-index: -1;
	text-align: left;
}

}
@media only screen and (max-width: 768px){

div.navbar.lrg {
	visibility: hidden;
	position: absolute;
}
div.navbar.sml {
	visibility: visible;
	position: absolute;
	top: 0px;
	width: 100%;
	/*background-color: rgba(255, 204, 204, .6);*/
}
.dropdown-menu {
 /* font-size: 14px;*/
  text-align: center;
  background-color: #f99;
  border: none;
  /*-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;*/
}
#body_wrap > div.navbar.sml > header > div > button{

}
div.navbar.sml div.btn-group button{
}

}


@media only screen and (min-width: 768px) {
	div.navbar.sml {
		visibility: hidden;
	position: absolute;
	}

	div.navbar{
		position: fixed;
		top:0px;
		z-index: 99;
		margin-top: 0px; 

	}

	div.navbar header nav ul{
		position: fixed;
		margin: 0px;
		padding: 0px;
		right:0px;
	}
	div.navbar > header > nav > h1{
		position: fixed;
		top: 0px;
		left: 5px;
		padding: 0px;
		margin: 10px;
		width: 10%;
		z-index: 98;
	}

}
@media only screen and (max-width: 992px) {


}

@media only screen and (max-width: 1200px) {
	div.about_me2 div.imglink{
	padding: 10px;
}
div.about_me2 div.imglink a img {
	outline-width: thick;
	outline-color: black;
	outline-style: solid;
}

}
@media only screen and (min-width: 1200px) {
div.about_me2 div.imglink{
	padding: 10px;
}
div.about_me2 div.imglink a img {
	outline-width: thick;
	outline-color: black;
	outline-style: solid;
}

}

