/*customfamily*/

/*body {
  background-color: #f99;
}*/
footer {
	position: fixed;
	bottom: 0px;
	width:100%;
	background-color: #cff;
}
.navbar.back, .navbar.back .pagination{
	background-color: #cff;
}
.pagination div {
	position: fixed;
	right: 3%;
	top: 0%;

}
@font-face {
    font-family: myFirstFont;
    src: url(../fonts/sweetly_broken/SweetlyBroken.ttf);
}
.pagination div h4 {
	font-family: myFirstFont;
}
.pagination>li>a, .pagination>li>span {
  padding: 10px 5px;
  color: #f99;
  min-height: 0px;
  min-width: 80px;
  text-align: center;
  border: none;
  font-size: 150%;
  background-color: transparent;

}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
  color: #f99;
  text-decoration: underline;
  /*background-color: #cff;
  border-style: solid;
 border-width: 1px;
  border-color: #f99;*/
}
div.navbar header nav ul {
  position: fixed;
  margin: 0px;
  padding: 0px;
  left: 0px;

}
div.allofit {
  margin: 20% 0px;
}

/*#body_wrap > div.allofit{
  background-color: #f99;
}*/
  #body_wrap div.allofit div.myModalHome {
 /* background-color: #f99;*/
}
#body_wrap div.allofit div button.big {
  font-size: 500%;
}

.btn-primary {
  background-color: transparent;
  border-color: #f99;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #f99;
  background-color: #cff;
  border-color: #f99;
}
div.allofit .btn-primary {
  background-color: transparent;
  border: none;
  color: #f99;
}
div.allofit .btn-primary:hover, div.allofit .btn-primary:focus, 
div.allofit .btn-primary.focus,div.allofit .btn-primary:active, 
div.allofit .btn-primary.active, div.allofit .open>.dropdown-toggle.btn-primary {
  color: #f99;
  border: none;
  text-decoration: underline;
}

#myFamily, #myFamily div, #myHome, #myHome div{
  background-color: #cff;
  border: none;
  box-shadow: none;
}
#myFamily div div.modal-content div div.thumbnail {
margin-top: 30px;
  background-color: rgba(255, 153, 153, .5);
 }

 #myFamily div div.modal-content div div.thumbnail div.caption{
  background-color: transparent;
 }
 }
#myFamily div div.modal-content div div.thumbnail {
min-height: 605px;
}
}