/* custom styles */
.pagination>li>a, .pagination>li>span {
  /*position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;*/
  color: black;
  background-color: rgba(180, 180, 180, .5);
  border: none;
/*  margin-left: -1px;*/
}

.pagination>.disabled>a {
	/*color: #777;*/
  background-color: transparent;
  border-color: transparent;
/*  cursor: not-allowed;*/
}
.pagination>.active>a{

	background-color: rgba(77, 77, 77, .5);
  border-color: rgba(77, 77, 77, .9);
}
.pagination>.active>a:hover, 
.pagination>.active>span:hover, .pagination>.active>a:focus, 
.pagination>.active>span:focus {
	background-color: rgba(144, 144, 144, .9);
  border-color: rgba(144, 144, 144, .9);
}

.pagination>li>a:hover, 
.pagination>li>span:hover, 
.pagination>li>a:focus, 
.pagination>li>span:focus {
	background-color: rgba(144, 144, 144, .5);
  border-color: rgba(144, 144, 144, .5);
  color: black;

} 

body{
	/*background-image: url();*/
	width: 100%;
	margin: 0%;
	padding: 0%;
}
#body_wrap div h2{
	text-align: center;
	padding-top: 0px;
	padding-bottom: 4px;
}
div.imglink {
	padding:2%;
}
/*div.imglink a img.overlay{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
	position: absolute;
}*/

#body_wrap div div.digi img{
	margin-top: 0px;
	margin-right: auto;
  margin-left: auto;

}
#body_wrap > div > div > div.digism > button > img{
	margin-right: auto;
  margin-left: auto;
}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
  margin-right: auto;
  margin-left: auto;
}
#body_wrap button.imgbtn {
margin: 0%;
border: .5px;
padding: 0px;
}
#body_wrap button.imgbtn img {
	padding: 0px;
	margin: 0px;
	border: none;
}

.carousel-control.right, .carousel-control.left{
	background-image: none;
}

div.event {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0%;

}
div.row div.imglink{
	margin:0%;
}
#body_wrap > div.row > div.imglink a:hover > img.underlay{
	opacity: 0.6;
}

@media only screen and (min-width: 480px) {
	#body_wrap div.row div.imglink h3 {
	position: absolute;
	top:30%;
	bottom: 60%;
	right:10%;
	left:10%;
	background-color: rgba(77, 77, 77, .7);
	color:white;
	display: block;
	padding:25%;
	margin-left:10%;
	margin-right:10%;
	z-index: -1;
	text-align: left;
}
	}

@media only screen and (max-width: 480px) {
	#body_wrap div.row div.imglink h3 {
	position: absolute;
	top:30%;
	bottom: 70%;
	right:10%;
	left:10%;
	background-color: rgba(77, 77, 77, .7);
	color:white;
	display: block;
	padding:25%;
	margin-left:10%;
	margin-right:10%;
	z-index: -1;
	text-align: left;
}
}
@media only screen and (min-width: 992px) {

}

