/*customeventplanning*/

.btn-primary {
  background-color: #cff;
  border-color: #f99;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #f99;
  background-color: transparent;
  border-color: #f99;
}
div.allofit .btn-primary {
  background-color: transparent;
  border: none;
  color: #f99;
}
div.allofit .btn-primary:hover, div.allofit .btn-primary:focus, 
div.allofit .btn-primary.focus,div.allofit .btn-primary:active, 
div.allofit .btn-primary.active, div.allofit .open>.dropdown-toggle.btn-primary {
  color: #f99;
  border: none;
  text-decoration: underline;
}

#eventHelp, #eventHelp div, #SUpAllNight, #SUpAllNight div, #advising, #advising div,
#preO, #preO div, #semiFs, #semiFs div, #contrib, #contrib div{
  background-color: #cff;
  border: none;
  box-shadow: none;
}

div.main {
	text-align: center;
}
div.top {
	margin-top: 5%;
}

div.row.evMod {
	margin-bottom: 3%;
}
@media only screen and (max-width: 768px) {
div.row.main.about_events {
	min-height: 900px;
	background-image: url(../images/icon-events.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

}
@media only screen and (min-width: 992px) {
#footer_wrap {
	position: fixed;
	bottom: 0;
	width: 100%;
}
}
@media only screen and (max-width: 1200px) {

	div.row.main.about_events {
	min-height: 700px;
	background-image: url(../images/icon-events.png);
	background-repeat: no-repeat;
	background-size: 65%;
	background-position: center;
}

}
@media only screen and (min-width: 1200px) {
	div.row.main.about_events {
	min-height: 700px;
	background-image: url(../images/icon-events.png);
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
}

}



/*div.events_body div.row{
	min-height: 700px;
}
div.events_body div.row.contributor, div.events_body div.row.future {
	background-color: #cff;
}

div.events_body div.row.largescale{
	background-color: #fff;
}

div.events_body div.row.advising{
	background-color: #00ffff;
}
div.events_body div.row.multipleday{
	background-color: #ccffcc;
}
div.events_body div.row.formals{
	background-color: #0cc;
}*/

/*#ffcccc*/
/*00ffff